<app-content [isEmpty]="curFoodTicket == undefined" emptyTitle="Ticket resto non trouvée">
    <div body>
        <form class="form-horizontal" *ngIf="curFoodTicket != undefined">
            <card [title]="'Date et montant'">
                <div class="bodyContent multiCol">
                    <div>
                        <form-input-container label="Date" [icon]="this.getIcon('calendar')" [errors]="this.getErrors('date')" [errorMessages]="this.getErrorMessages('date')">
                            <date-input [(value)]="curFoodTicket.date" (valueChange)="valueChange($event, 'date')" [required]="true" (validationChange)="validationChange($event, 'date')"></date-input>
                        </form-input-container>
                    </div>

                    <div>
                        <form-input-container label="Montant" [icon]="this.getIcon('euro')" [errors]="this.getErrors('amount')" [iconPosition]="'after'" [errorMessages]="this.getErrorMessages('amount')">
                            <number-input [required]="true" [(value)]="curFoodTicket.amount" step="0.01" (valueChange)="valueChange($event, 'amount')" (validationChange)="validationChange($event, 'amount')"></number-input>
                        </form-input-container>
                    </div>
                </div>

                <ng-container class="bodyContent">
                    <form-input-container label="Commentaire" class="fullWidth" [errors]="this.getErrors('comment')" [errorMessages]="this.getErrorMessages('comment')">
                        <text-input [needValidation]="false" [(value)]="curFoodTicket.comment" (valueChange)="valueChange($event, 'comment')" [textarea]="true"></text-input>
                    </form-input-container>
                </ng-container>
            </card>
        </form>
    </div>
    <div footer>
        <btn [fnct]="this.back.bind(this)" label="Retour" icon="back"></btn>
        <btn [fnct]="this.save.bind(this)" [primary]="true" [disabled]="!this.formValid" label="Enregistrer" icon="save"></btn>
    </div>
</app-content>
