form {
    width: 50%;
    margin: auto;

    .twoCol {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer {
        margin-top: 2rem;
        width: 100%;
        text-align: right;

        button {
            margin-left: 1rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
