.filters {
    // border:1px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .filter {
        // border:1px solid red;
        display:block;
    }
}
.action {
    fa-icon {
        margin-left: 1rem;

        &:first-child {
            margin-left: 0;
        }
    }
}

.no-data {
    text-align: center;
}
