@import "~src/variables";

$light: 10%;

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .filter {
        display:block;
    }
}
table {
    caption {
        caption-side: top;
        text-align: center;
        font-weight: bold;

    }

    td.boolean {
        text-align: center;
    }

    .table-col-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        fa-icon {
            margin-left: 0.5rem;
        }
    }

    .action {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;

        border-left: 1px solid darken($table-border-color, $light);

        fa-icon {
            margin-left: 1rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .no-data {
        text-align: center;
    }
}
