<empty-state *ngIf="curIncome == undefined" title="Recette non trouvée"></empty-state>
<form class="form-horizontal" *ngIf="curIncome != undefined">
  <div class="twoCol">
    <div class="form-group">
        <label class="form-label" for="date">Date</label>
        <input class="form-input" type="date" id="date" required="true" [(ngModel)]="curIncome.dateInput"
          ng-model-options="{ getterSetter: true }" [formControl]="this.dateFrm">
    </div>
    <div class="form-group">
        <label class="form-label" for="account">Compte</label>
        <select class="form-select" id="account" required="true" [(ngModel)]="curIncome.account"
          ng-model-options="{ getterSetter: true }" [formControl]="this.accountFrm">
          <option *ngFor="let cpt of this.account" value="{{cpt}}">{{cpt}}</option>
        </select>
    </div>
  </div>

  <div class="twoCol">
    <div class="form-group">
      <label class="form-label" for="amount">Montant</label>
        <input class="form-input" type="number" id="amount" step="0.01" required="true" [(ngModel)]="curIncome.amount"
        ng-model-options="{ getterSetter: true }" [formControl]="this.amountFrm" inputmode="numeric">&nbsp;€
    </div>
    <div class="form-group">
      <label class="form-label">Montant perçu</label>
      <span class="form-input">{{curIncome.amountRecieved | currency:'EUR':'symbol':'.2-2':'fr'}}</span>
    </div>
  </div>

  <div class="twoCol">
    <label class="form-switch">
      <input type="checkbox" id="shared" required="true" [(ngModel)]="curIncome.shared"
      ng-model-options="{ getterSetter: true }" [formControl]="this.sharedFrm">
      <i class="form-icon"></i> Partagé
    </label>
    <label class="form-switch">
      <input type="checkbox" id="waiting" required="true" [(ngModel)]="curIncome.waiting"
      ng-model-options="{ getterSetter: true }" [formControl]="this.waitingFrm">
      <i class="form-icon"></i> En attente
    </label>
  </div>
  <div class="form-group">
    <label class="form-label" for="comment">Commentaire</label>
    <textarea class="form-input" id="comment" placeholder="Commentaire" rows="3" required="true" [(ngModel)]="curIncome.commentaire"
    ng-model-options="{ getterSetter: true }" [formControl]="this.commentFrm"></textarea>
  </div>

  <div class="footer">
    <button class="btn" (click)="this.back()">Retour</button>
    <button class="btn btn-primary" (click)="this.save()" [disabled]="!this.formValid">Enregistrer</button>
  </div>
</form>
{{this.curIncome | json}}
