<div class="modal-header">
    <h4 class="modal-title">Bénéficiaire</h4>
    <btn icon="close" class="close" [fnct]="this.dismiss.bind(this)" *ngIf="!isSaving"></btn>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <form-input-container label="Libellé" class="fullWidth" [errors]="this.getErrors('label')" [errorMessages]="this.getErrorMessages('label')">
            <text-input [required]="true" [(value)]="recipient.label" (validationChange)="validationChange($event, 'label')"></text-input>
        </form-input-container>

        <form-input-container label="Principal">
            <boolean-input [(value)]="recipient.main" labelTrue="Oui" labelFalse="Non"></boolean-input>
        </form-input-container>
    </form>
</div>
<div class="modal-footer">
    <btn label="Annuler" [fnct]="this.dismiss.bind(this)" [disabled]="isSaving"></btn>
    <btn label="Ajouter" [primary]="true" ngbAutofocus [fnct]="this.saveRecipient.bind(this)" [disabled]="isSaving || !this.formValid" icon="add"></btn>
</div>
