@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/variables";

$white: $light;
$black: $dark;
$loading-color: $info;
$success-color: $success;
$warning-color: $warning;
$error-color: $danger;
