/* You can add global styles to this file, and also import other style files */

// Example of project-name.scss
// Define variables to override default ones
$bg-color-dark: red;

.hand {
   cursor: pointer;
}
// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";

input, textarea, select {
   &:required {
      border-left: 3px solid $primary-color;
   }
}

.hidden {
    display: none;
}

.p-left {
    text-align: left;
}

.p-right {
    text-align: right;
}
